body {
    font-family: 'Oswald', sans-serif;
    background-image: url(https://i.pinimg.com/originals/83/ee/86/83ee86204adbc7f85a1740fcbabc10b6.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
}
h1 {
    color: rgb(211, 124, 211);
    text-align: center;
    margin-top: -4%;
    font-size: 80px;
}
#quien-Soy p {
    font-size: 35px;
    text-align: center;
    margin-top: 0%;
    width: 90%;
    margin-left: 5%;
    color: aliceblue;
}
#quien-Soy {
    margin-bottom: 40px;
    padding-bottom: 50px;
}
#presentphoto {
    margin-left: 5%;
    margin-top: 8%;
}
#telsito {
    text-align: center;
    margin: 0%;
}
#quien-Soy, header {
    border: 5px;
}
#lista {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0%;
}
a:visited {
    color: aliceblue;
}
a:link {
    color: aliceblue;
}
a:hover {
    color: rgb(147, 185, 218);
}
footer {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}
#logros p {
    font-size: 40px;
    text-align: center;
    margin-top: 0%;
    width: 90%;
    margin-left: 5%;
    color: aliceblue;
}
h2 {
    color: rgb(211, 124, 211);
    text-align: center;
    margin-top: -4%;
    font-size: 80px;
}
#logros {
    min-height: 100vh;
}
header {
    padding-top: 50px;
}
#imgcentfrst {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
#objetivos {
    min-height: 100vh;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
#objetivos h3 {
    color: rgb(211, 124, 211);
}
#contratame {
    border: groove 10px;
    border-color: rgb(231, 77, 211);    
    color: aliceblue;
    text-align: center;
}
#contratame h3 {
    font-size: 50px;
    color: rgb(211, 124, 211);
}