h1 {
    color: purple;
    text-align: center;
    margin-top: -4%;
    font-size: 80px;
}
#quien-Soy p {
    font-size: 20px;
    text-align: center;
    margin-top: 0%;
}
#presentphoto {
    margin-left: 5%;
    margin-top: 8%;
}
#telsito {
    text-align: center;
}
#quien-Soy, header {
    border: 5px solid rgb(81, 130, 185);
    background-color: rgb(81, 130, 185);
}
